.sign-in {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  .sign-in-title {
    text-align: center;
  }
  
  .sign-in-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .sign-in-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .sign-in-form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  .sign-in-form :last-child {
    background-color: #c0aaaa;
  }